body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  scrollbar-width: 10px;
  scrollbar-color: #8c8c8c;
}

*::-webkit-scrollbar{
  width: 8px;
}

*::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #8c8c8c;
}
